<section>

{{{filter-link isFiltered}}}

  <h1>Coding resources</h1>
  <ul>
    {{#each resources}}
    {{> resource-small this}}
    {{/each}}
  </ul>
</section>

<aside>
  <h3>Recent reviews<h3>
    <ul>
      {{#each reviews}}
      {{{get_reviews_small this}}}
      {{/each}}
    </ul>
</aside>
