<h1> Create a new review</h1>

<p>Our users enable us to better one another's learning. Please be honest with your review in order for people to benefit from the most awesome resources!</p>

<form action="new_review.js">
  Review Title:<input type="text" name="title" value="Amazing, awful..."><br>
  Rating:<input type="number" name"rating" min="0" max="5"><br>
  Content:<input type="text" name="content" value="What do you think of the resource?">
  <input type="submit" value="Submit">
</form>
