.navbar-navigation {
  text-align: right;
}

.navbar-link {
  display: inline-block;
  list-style-type: none;
}
.navbar-link a {
  text-decoration: none;
}
.container {
  max-width: 900px;
  width: 100%;
  margin: auto;
  position: relative;
}
.resources {
  width: 60%;
}
.aside {
  width: 30%;
  position: absolute;
  top: 25px;
  right: 30px;
}
.input-block {
  display: block;
  margin: 10px 0;
}
.center-button {
  text-align: center;
  width: 165px;
}

.resource-small--image {
  max-width: 50px;
}
