.navbar-navigation {
  text-align: right;
}

.navbar-link {
  display: inline-block;
  list-style-type: none;
}
.navbar-link a {
  text-decoration: none;
}
.content_input{
  width: 600px;
  height: 300px;
  vertical-align: text-top;
  display: block;
}
.title{
  display: block;
}
.rating {
  display: block;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: auto;
}
.input-block {
  display: block;
  margin: 10px 0;
}
.center-button {
  text-align: center;
  width: 165px;
}

.resource-small--image {
  max-width: 50px;
}
