.header {
  width: 100%;
  position: relative;
  margin-bottom: 50px;
  padding: 20px;
  border-bottom: 1px solid grey;
}

.heading {
  font-family: 'Tangerine', cursive;
  margin-left: 10%;
}

.navbar {
  position: absolute;
  top: 26px;
  right: 10%;
}
.navbar-navigation {
  font-size: 20px;
}

.navbar-link {
  display: inline-block;
  list-style-type: none;
  margin-left: 10px;
}

.container {
  max-width: 900px;
  width: 100%;
  margin: auto;
  position: relative;
}
.resources {
  width: 60%;
}
.aside {
  width: 30%;
  position: absolute;
  top: 25px;
  right: 30px;
}
.input-block {
  display: block;
  margin: 10px 0;
}
.center-button {
  text-align: center;
  width: 165px;
}

.resource-small--image {
  max-width: 50px;
}

.btn {
  border: 1px solid grey;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  background-color: white;
}

.style-a {
  text-decoration: none;
  color: inherit;
  opacity: 1;
  transition: opacity;
}

.style-a:hover {
  opacity: 0.5;
}
