<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/main.css">
  <title>Reviews-o-rama</title>
</head>
<body>
  <header>
    <nav class="navbar">
      <ul class="navbar-navigation">
        <li class="navbar-navigation--link"><a href="/">Home</a></li>
        <li class="navbar-navigation--link"><a href="/login">Login</a></li>
      </ul>
    </nav>
  </header>
  <div class="container">
    {{{content}}}
  </div>
</body>
</html>
