<li>
  <h3><a href="resources/{{this.resource_id}}" class="resource-small--title">{{this.title}}</a></h3>
  <img src={{this.img}} class="resource-small--image">
  <p class="resource-small--intro">{{this.intro}}</p>
</li>

